body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  font-family: system-ui, -apple-system, sans-serif;
}

.signupform {
  width: 250px;
  height: 260px;
  padding: 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.signupform > * {
  margin: 0;
}

.signuptitle {
  font-size: 23px;
  font-weight: 900;
  color: #333;
}

.signupcontent {
  font-size: 12px;
  line-height: 18px;
  color: #333;
}

.highlight {
  color: #0066ff;          
  font-size: 23px;
  font-weight: 900;   
  text-decoration: underline; 
}

.signupforminner {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.signupforminner input {
  margin-top: 10px;
  outline: 0;
  background: rgb(255, 255, 255);
  box-shadow: transparent 0px 0px 0px 1px inset;
  padding: 0.6em;
  border-radius: 14px;
  border: 1px solid #333;
  color: black;
}

.signupforminner input:focus {
  border: 1px solid #0066ff;
}

.signupforminner button {
  border: 0;
  background: #111;
  color: #fff;
  padding: 0.68em;
  border-radius: 14px;
  font-weight: bold;
}

.signupforminner button:hover {
  background: #0066ff;
} 
